node_modules
dist
npm-debug.log
pnpm-debug.log
.env
.env.dev
.env.local
.env.*.local
.git
.gitignore
README.md
coverage
.vscode
.idea
*.log
.DS_Store
test
*.spec.ts
*.spec.js
.eslintrc.js
eslint.config.mjs
prettierrc